// LESS

/*
  author: @teampopong
  date: 2012-06-00
  modification logs:
    2012-07-09 added style descriptions
    2012-07-15 added palette, mix-ins & nested rules
    2012-07-24 added member photos
*/


// ----- variables ---------------------------------------------------
@img_folder: "../images";


// -----  palette ------------------------------------------------
@bgr_color      : #FFF;
@hover_color    : #FF0058;
@code_color     : #333333;

// ----- mixins --------------------------------------------------

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow (@alpha: 30%) when (isnumber(@alpha)) {
  box-shadow: inset 0 0 1px rgba(255, 255, 255, @alpha);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, @alpha);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, @alpha);
}


// ----- styles ---------------------------------------------------

body {
  background-color: @bgr_color;
}

@media (min-width: 980px) {
  body > .container {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

a {
  &:hover {
    color: @hover_color;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  text-rendering: auto;
}

code {
  color: @code_color;
}


// navigation bar

.navbar .nav > li {
  font-size: 12pt;
  a {
    padding: 16px 13px 15px;
  }
}

#directlinks {
  text-align: right;
  padding-top: 16px;
  img {
    padding: 0 3px;
  }
}


// index.html
.appbutton {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  img {
    width: 50%;
  }
}

.hero-unit {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-: whitesmoke;
  border: solid 3px white;
  p {
    font-size: 11pt;
    margin: auto;
  }
}


// about.html

#left-column {
  h2 {
    margin-bottom: 10px;
  }

  li {
    display: block;
    float: left;
    height: auto;
    .rounded-corners;
    margin: 0 3% 15px;

    .member-name {
      font-size: 16px;
      font-weight: normal;
    }
  }
}

#members img {
  width: 80px;
  height: 100px;
}

#thanksto {
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 20px;

  li {
    margin: 0 3px 3px 3px;
  }

  li:after {
    content: ". ";
  }
}

.member-box (@img_file: null) {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-image: url("@{img_folder}/member-@{img_file}.jpg");
  .rounded-corners(40px);
  .box-shadow;
}

.member-photo-cornchz      {  .member-box(cornchz);  }
.member-photo-daybreaker   {  .member-box(daybreaker);  }
.member-photo-jooddang     {  .member-box(jooddang);  }
.member-photo-echojuliett  {  .member-box(echojuliett);  }
.member-photo-allsolution  {  .member-box(allsolution);  }
.member-photo-minspiration {  .member-box(minspiration);  }
.member-photo-uni208       {  .member-box(uni208);  }
.member-photo-jihye        {  .member-box(jihye);  }
.member-photo-sanxiyn      {  .member-box(sanxiyn);  }
.member-photo-dongx3       {  .member-box(dongx3);  }
.member-photo-netj         {  .member-box(netj);  }
.member-photo-unrealive    {  .member-box(unrealive);  }
.member-photo-ingtellect   {  .member-box(ingtellect);  }

#slideshare {
  padding-top: 50px;
}
