// ----- variables ---------------------------------------------------
@img_folder: "../images";


// -----  palette ------------------------------------------------
@link_color     : #08c;
@hover_color    : #005580;

@popong_orange    : #ee7a40;
@popong_chick     : #efb940;
@lucy_pink        : #ee44a1;
@popong_purple    : #92427a;
@popong_sky       : #44d0de;
@home_yellow      : #f7bb26;


// ----- mixins --------------------------------------------------
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow (@alpha: 30%) when (isnumber(@alpha)) {
  box-shadow: inset 0 0 1px rgba(255, 255, 255, @alpha);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, @alpha);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, @alpha);
}


// ----- layout.html ---------------------------------------------------
html {
  background: url("@{img_folder}/bgr.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  body {
    background-color: transparent;
  }
}

a {
  color: @link_color;
  &:hover {
    color: @hover_color;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  text-rendering: auto;
}

@media (min-width: 980px) {
  body > .container {
    padding-top: 30px !important;
  }
}


// ----- includes/header.html --------------------------------------------
.navbar-inner {
  background-color: transparent;
  background-image: none;
  min-height: 140px;
  position: relative;
}

.nav-pills {
  a { 
    color: #777;
  }
  a:hover { 
    color: #FFF;
    text-decoration: none;
  }
  .active {
    a { 
      text-decoration: none;
      background-color: #777; 
      }
    a:hover { 
      color: #EEE;
      text-decoration: none;
      background-color: #777; 
    }
  }
}

.nav-pills > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar .brand {
  float: none;
}

#lang {
  float: right;
  margin-top: 10px;
  ul {
      margin-top: 0;
      li {
        display: inline-block;
        font-size: 12px;
        padding: 0px;
      }
  }
}

#sociallinks {
  margin-bottom: 10px;
}

@media (min-width: 979px) {
  .nav-collapse {
    position: absolute;
    bottom: 0;
    right: 0;
    .nav > li {
      font-size: 12pt;
      a {
        padding: 5px 13px 15px;
      }
    }
  }

  #sociallinks {
    position: absolute;
    bottom: 50px;
    right: 0;
    #fb {
      float: left;
      margin: 0 5px;
      width: 76px;
    }
    #tw {
      float: left;
      margin: 0 5px;
      display: inline-block;
    }
  }
}



// ----- includes/footer.html --------------------------------------------
footer {
  background: @popong_purple;
  color: lighten(@popong_purple, 30%);
  height: 150px;
  margin-top: 18px;
  padding: 15px;
  position: relative;
  div {
    display: inline-block;
  }
}

#copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}


#directlinks {
  img {
    padding-right: 5px;
  }
}

@media (max-width: 400px) {
    #directlinks {
        display: none;
    }
}

// ----- home.html ---------------------------------------------------
.hero-unit {
  padding: 30px 5%;
  background: rgba(255, 255, 255, .5);
  border: solid 3px white;
  p {
    font-size: 11pt;
    margin: 30px auto 0;
  }
}

.menubox {
  border: 5px @home_yellow solid;
  margin: 10px 0;
  position: relative;

  .menu-image {
    display: inline-block;
    width: 100%;
  }
  .menu-title {
    position: absolute;
    color: white;
    margin: 1%;
  }
  .menu-explanation {
    background: @home_yellow;
    color: white;
    display: inline-block;
    width: 100%;
  }
}

// ----- about.html ---------------------------------------------------
#right-column {
  font-size: 10.5pt;
  p {
    font-size: 10.5pt;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  ul li {
    color: #333;
    line-height: 150%;
    ul li {
      display: none;
      font-size: 80%;
      color: #CCC;
    }
  }

  #what-we-do {
    #motto {
      font-size: 150%;
      font-style: italic;
      font-weight: bold;
      font-family: "Times New Roman", Georgia, serif;
      margin: 15px 0 10px;
    }
    line-height: 230%;
    ul {
      margin-bottom: 0;
  }
  }

  #members {
    li {
      display: block;
      float: left;
      height: auto;
      .rounded-corners;
      margin: 0 3% 15px;

      .member-name {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

#members img {
  width: 80px;
  height: 100px;
}

#members-past,
#thanksto {
  width: 80%;
  float: left;
  margin: 10px 30px 0;
  h3 {
    color: #333;
    font-size: 15px;
  }

  a {
    color: #555;
  }

  li {
    display: inline-block;
    margin: 0 3px 3px 3px;
  }

  li:after {
    content: ". ";
  }
}

.member-box (@img_file: null) {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-image: url("@{img_folder}/member-@{img_file}.jpg");
  .rounded-corners(40px);
  .box-shadow;
}

.member-photo-cornchz      {  .member-box(cornchz);  }
.member-photo-daybreaker   {  .member-box(daybreaker);  }
.member-photo-jooddang     {  .member-box(jooddang);  }
.member-photo-echojuliett  {  .member-box(echojuliett);  }
.member-photo-allsolution  {  .member-box(allsolution);  }
.member-photo-minspiration {  .member-box(minspiration);  }
.member-photo-uni208       {  .member-box(uni208);  }
.member-photo-jihye        {  .member-box(jihye);  }
.member-photo-sanxiyn      {  .member-box(sanxiyn);  }
.member-photo-dongx3       {  .member-box(dongx3);  }
.member-photo-netj         {  .member-box(netj);  }
.member-photo-unrealive    {  .member-box(unrealive);  }
.member-photo-ingtellect   {  .member-box(ingtellect);  }

@media (max-width: 980px) {
  #members {
    ul{
      margin: 0 0 9px 0;
    }
    li{
      margin: 0 2% 15px;
    }
  }

  #github-ribbon {
    display: none;
  }
}


// ----- participate.html ---------------------------------------------------
#donation-widgets {
  width: 348px;
  margin: 0 auto;
}

.notice {
  border: 1px solid #EEE;
  color: #999;
  margin: 30px auto 10px;
  display: block;
  padding: 10px;

  h3.notice-title {
    background: #EEE;
    .rounded-corners;
    color: #777;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    text-indent: 5px;
  }

  div#paypal,
  div#gittip {
    border: 2px solid #EEE;
    border-radius: 6pt;
    display: inline-block;
    height: 75px;
    margin: 3px;
    vertical-align: middle;
    width: 160px;

    .gittip-widget {
      margin: auto;
      border: none;
      display: block;
      background-position: right bottom;
      width: 140px;
    }

    form {
      margin: 10px 7px;
    }
  }
}

@media (max-width: 480px) {
  #donation-widgets {
    width: auto;
  }

  div#paypal,
  div#gittip {
    display: block !important;
    margin: 3px auto !important;
  }
}


// ----- projects.html ---------------------------------------------------
.appbutton {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  img {
    width: 50%;
  }
}

// ----- sources.html ---------------------------------------------------
table {
    margin: 3em 0;
}

#source-type {
    background-color: #dff0d8;
    font-weight: bold;
}
