{% extends 'layout.html' %}

{% block contents %}
<div class="row-fluid">

  <div id="left-column" class="span8">
    <div id="members">
      <h2>{{ gettext("함께하는 사람들") }}</h2>
      <ul>
        <script type="text/javascript" src="{{ url_for('static', filename='js/members.js') }}"></script>
        <script src="{{url_for('static', filename='js/popong.js')}}"></script>
        <script>
            $('li img').clipImage();
        </script>
      </ul>
    </div>
    <div id="members-past">
      <h2>{{ gettext("함께했던 사람들") }}</h2>
      <ul>
        {% for member in OB.items() %}
        <li><a href="http://twitter.com/{{ member[0] }}">{{ member[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="thanksto">
      <h2>{{ gettext("고마운 분들") }}</h2>
      <ul>
        {% for person in THANKS_TO.items() %}
        <li>
        {% if person[1] != '' %}<a href="{{ person[1] }}">{% endif %}
            {{ person[0] }}{% if person[1] != '' %}</a>{% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div id="right-column" class="span4">
    <div id="slideshare">
      <iframe src="http://www.slideshare.net/slideshow/embed_code/12045164" width="100%" height="320" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>

    <div id="contact">
      e-mail: <a href="mail:contact@popong.com">contact@popong.com</a>
    </div>
  </div> 

</div> <!-- /row-fluid -->
{% endblock %}
