<h3 class="page-title">Contact</h3>

<p>
연락을 주시기 전에 한 가지 말씀드리고 싶은 점은,
팀포퐁은 <a href="http://37signals.com/remote/">원격(remote)</a>을 지향하고 있다는 것입니다.
초창기의 팀포퐁은 대부분이 학생이었고,
<s>연애를 포기하고</s>
매주 주말에 모여 열정적으로 회의와 개발을 했습니다만,
지금은 <b>거의 모든 소통을 온라인으로</b> 합니다.
대부분의 초창기 멤버들이 사회로 진출하기도 했고,
10년, 100년 뒤에도 우리가 만든 프로덕트들이 지속되는 것을 중요하게 생각하고 있기 때문입니다.
(바꿔 말하면 "가늘고 길게" 정신.)
</p>

<p>
소통 공간이 온라인으로 옮겨지면서 소통이 다소 느려진 점은 있지만,
거주 지역 등 물리적 제약이 없어진 덕분에 지금은 국내외 다양한 곳에 <a href="{{ url_for('team') }}">팀원들</a>이 분포할 수 있게 되었습니다.
이러한 이유로 관심을 가져주시는 모든 분들과 오프라인에서 일일히 만남을 가지기는 어렵습니다만, 온라인으로 의미있고 재미있는 소통은 언제나 환영하고 있습니다.
(그러다가 언젠가 친해지면 치맥도 하러 만나볼 수 있겠죠!)
</p>

<ul>
    <li><a href="mailto:popong-dev@googlegroups.com">팀포퐁 공개 메일링 리스트로 지금 당장 메일 보내기</a> (팀포퐁이 더 선호하는 채널)
    <li><a href="mailto:contact@popong.com">팀포퐁 운영팀한테만 비밀리에 연락하기</a>
</ul>
