<div class="container">
  <div id="copyright" class="footer-block">
    <p>&copy; 2011-2014 <a href="mailto:contact@popong.com">{{ gettext('팀포퐁') }}</a></p>
  </div>
  <div id="sociallinks" class="footer-block hidden-xs">
    <div id="fb" class="fb-like" data-href="http://facebook.com/teampopong" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    <div id="tw">
      <a href="https://twitter.com/teampopong" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="small">Follow</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div id="directlinks" class="footer-block">
    {% for title, url in dirlinks %}
    <a href="{{url}}" target="_blank" title="{{title}}"><img class="icons" src="{{ url_for('static', filename='images/icon-%s.png' % title) }}" alt="{{title}} logo"></a>{% endfor %}
  </div>
</div>
