<footer id="footer">
<div class="container">
<div class="row-fluid">
    <div id="popong-description" class="span9 desc-section">
        <div class="row-fluid">
            <div id="contact-us" class="span3">
                <h2>Contact us</h2>
                <p><a href="mailto:contact@popong.com">contact@popong.com</a></p>
            </div>
            <div id="who-we-are" class="span9">
                <p>팀포퐁은 기술을 바탕으로 정치를 보다 쉽고 재미있게 하기 위한 비영리, 무소속의 중립적 단체입니다.</p>
                <p>Team POPONG is a nonprofit, nonpartisan group in Korea that aims to make politics easy and fun via technology.</p>
            </div>
        </div>
    </div>

    <div id="social-links" class="span3 desc-section">
        <h2>Social Links</h2>
        <div id="directlinks">
            {% for title, url in dirlinks %}
            <a href="{{url}}" target="_blank" title="{{title}}"><img class="icons" src="{{ url_for('static', filename='images/icon-%s.png' % title) }}" alt="{{title}} logo"></a>{% endfor %}
        </div>
    </div>
</div>

<div id="copyright">
    <p>&copy; 2011-2013 <a href="mailto:contact@popong.com">Team POPONG</a> All rights reserved, unless otherwise noted.</p>
</div>
</div>
</footer>
