{% extends 'layout.html' %}

{% block contents %}
<!-- DataTables javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.columnFilter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popong-dataTables.js') }}"></script>

<!-- DataTables styling -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">
<style>
    #glossary-table_wrapper {
        padding-top: 30px;
        padding-bottom: 20px;
    }
</style>

<!-- DataTables data -->
<h1 class="inline">{{ gettext("정치용어집") }}</h1>
<a href="https://raw.github.com/teampopong/glossary/master/glossary.csv">View raw file</a>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="glossary-table">
    {% if locale=='ko' %}
    <thead>
        <tr>
            <th>한국어</th>
            <th>영어</th>
            <th>의미</th>
        </tr>
    </thead>
    <tbody>
        {% for term in terms %}
        <tr>
            <td>{{ term[0] }}</td>
            <td>{{ term[2] }}</td>
            <td>{{ term[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>'한국어'에서 검색</th>
            <th>'영어'에서 검색</th>
            <th>'의미'에서 검색</th>
        </tr>
    </tfoot>
    {% else %}
    <thead>
        <tr>
            <th>English</th>
            <th>Korean</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        {% for term in terms %}
        <tr>
            <td>{{ term[2] }}</td>
            <td>{{ term[0] }}</td>
            <td>{{ term[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Search in 'English'</th>
            <th>Search in 'Korean'</th>
            <th>Search in 'Meaning'</th>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% endblock %}
