{% extends 'layout.html' %}

{% block contents %}
<!-- DataTables javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.columnFilter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popong-dataTables.js') }}"></script>

<!-- DataTables styling -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">
<style>
    #glossary-table_wrapper {
        padding-top: 30px;
        padding-bottom: 20px;
    }
</style>

<!-- DataTables data -->
<h1>{{ gettext("정치용어집") }}</h1>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="glossary-table">
    <thead>
        <tr>
            <th>{{ gettext("한국어") }}</th>
            <th>{{ gettext("영어") }}</th>
            <th>{{ gettext("의미") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for term in terms %}
        <tr>
            {% for t in term %}
            <td>{{ t }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{{ gettext("한국어") }}</th>
            <th>{{ gettext("영어") }}</th>
            <th>{{ gettext("의미") }}</th>
        </tr>
    </tfoot>

</table>
{% endblock %}
