{% extends "layout.html" %}

{% block contents %}
  <!-- Main hero unit -->
  <div class="hero-unit">
    <h3>{{ gettext("나는 정치에 관심이 있다? 없다?") }}</h3>
    <p>{{ gettext("팀 포퐁(POPONG: Public Open POlitics engineeriNG)은 인터넷을 통한 시민들의 사회참여가 정치에 미치는 영향에 대한 학술적 연구 및 실제적 변화를 목표로 하는 재능기부 그룹입니다. 일상생활 속의 정치참여를 상상하는 직장인, 학생들의 잉여시간을 모아모아 활동합니다.") }}</p>
  </div>

  <!-- Row of columns -->
  <div class="row">
    <div class="span4">
        <h2>{{ gettext("나는 서울 시장이다!") }}</h2>
       <div class="appbutton">
           <a href="http://popong.com/iamseoulmayor" target="_blank"><img src="{% if locale=='ko' %}{{ url_for('static', filename='images/button-naseoul.png') }}{% else %}{{ url_for('static', filename='images/button-naseoul-en.png') }}{% endif %}"></a>
       </div>
       <p>{{ gettext("2011년 10.26 서울시장 선거를 위해 개발된 서비스. 박원순 후보와 나경원 후보의 프로필, 공약, 그리고 주요 이슈를 담은 타임라인을 한 눈에 비교하기 쉽게 만들었습니다.") }}</p>
    </div>
    <div class="span4">
      <h2>{{ gettext("애정선거") }}</h2>
       <div class="appbutton">
           <a href="http://popong.com/iamseoulmayor/promotion.html" target="_blank"><img src="{%if locale=='ko' %}{{ url_for('static', filename='images/button-ajelection.png') }}{% else %}{{ url_for('static', filename='images/button-ajelection-en.png') }}{% endif %}"/></a>
       </div>
       <p>{{ gettext("10.26 서울시장 선거 후보들의 공약을 무작위로 보여주며, 나와 가장 잘 맞는 후보를 추천해주는 서비스! 당신의 성향과 가장 가까운 후보는 누구인지 알아보러 갈까요?") }}</p>
   </div>
    <div class="span4">
        <h2><img src="{{ url_for('static', filename='images/icon-new.png') }}">{{ gettext("포커") }}</h2>
      <div class="appbutton">
        {% if locale=='ko' %}
        <a href="http://pokr.kr" target="_blank">
        {% else %}
        <a href="http://en.pokr.kr" target="_blank">
        {% endif %}
        <img src="{{ url_for('static', filename='images/button-pokr.png') }}"></a>
      </div>
      <p>{{ gettext("1대부터 19대까지의 국회의원 후보자와 당선자와 그들이 발의한 의안을 이 곳에서 보세요! 대한민국 정치의 모든 것.") }}</p>
    </div>
  </div>
{% endblock %}
