{% extends "layout.html" %}

{% block contents %}
<div class="row-fluid">
    <a id="projects" class="span6 menubox" href="{{ url_for('projects') }}">
        <h2 class="menu-title">projects</h2>
        <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
        <div class="menu-explanation">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
        </div>
    </a>
    <div class="span6">
        <div class="row-fluid">
            <a id="developers" class="span6 menubox" href="{{ url_for('developers') }}">
                <h2 class="menu-title">get data</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <span class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
                </span>
            </a>
            <a id="about-us" class="span6 menubox" href="{{ url_for('about') }}">
                <h2 class="menu-title">about us</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
                </div>
            </a>
        </div>
        <div class="row-fluid">
            <a class="span4 menubox" href="{{ url_for('blog') }}">
                <h2 class="menu-title">blog</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                </div>
            </a>
            <a id="participate" class="span4 menubox" href="{{ url_for('participate') }}">
                <h2 class="menu-title">participate</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                </div>
            </a>
            <a id="faq" class="span4 menubox" href="{{ url_for('faq') }}">
                <h2 class="menu-title">Q&A</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
