{% if not request.headers['X-PJAX'] %}
{% extends "layout.html" %}
{% endif %}

{% block contents %}
<div class="row-fluid">
    <div class="span6 menubox hero-unit">
        <h2>{{ gettext("나는 정치에 관심이 있다? 없다?") }}</h2>
        <p>{{ gettext("팀 포퐁(POPONG: Public Open POlitical engineeriNG)은 인터넷을 통한 시민들의 사회참여가 정치에 미치는 영향에 대한 학술적 연구 및 실제적 변화를 목표로 하는 재능기부 그룹입니다. 일상생활 속의 정치참여를 상상하는 직장인, 학생들의 잉여시간을 모아모아 활동합니다.") }}</p>
    </div>
    <div class="span6">
        <div class="row-fluid">
            <a id="projects" class="span6 menubox" href="{{ url_for('projects') }}">
                <h2 class="menu-title">projects</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
                </div>
            </a>
            <a id="use-our-data" class="span6 menubox" href="{{ url_for('developers') }}">
                <h2 class="menu-title">use our data</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <span class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp
                </span>
            </a>
        </div>
        <div class="row-fluid">
            <a class="span4 menubox" href="{{ url_for('blog') }}">
                <h2 class="menu-title">blog</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                </div>
            </a>
            <a id="participate" class="span4 menubox" href="{{ url_for('participate') }}">
                <h2 class="menu-title">participate</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                </div>
            </a>
            <a id="about-us" class="span4 menubox" href="{{ url_for('about') }}">
                <h2 class="menu-title">about us</h2>
                <img class="menu-image" src="{{ url_for('static', filename='images/member-weirdclaire.jpg') }}">
                <div class="menu-explanation">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
