<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/head.html' %}
  </head>
  <body>
    <div class="container">
      {% include 'includes/header.html' %}
      {% block contents %}
      {% endblock %}
      {% include 'includes/footer.html' %}
    </div>
    <!-- Le javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/ga.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
   </body>
</html>
