<div id="participate" class="page container">
  <h2 class="page-title">Participate</h2>
  <p class="section-description">{{ gettext('당신도 기여할 수 있습니다! 당신이 기여할 수 있는 여섯 가지 방법.') }}</p>
  <ol class="section-items">
    <li><a href="http://facebook.com/teampopong">포퐁 페이스북 페이지</a>에서 좋아요를 꾸욱 누른다.</li>
    <li><a href="http://teampopong.uservoice.com">피드백 포럼</a>에서 아이디어를 제시하고 마음에 드는 다른 유저들의 아이디어에 투표하고 토론한다.</li>
    <li><a href="http://blog.popong.com/ko">포퐁 블로그</a>를 구독한다.</li>
    <li><a href="http://github.com/teampopong">포퐁 깃헙</a>에서 이슈들을 보며 직접 pull request를 보낸다.</li>
    <li>주변 사람들에게 열심히 홍보한다.</li>
    <li>후원한다!
      <p>
        {{ gettext("팀포퐁은 정치적 중립성을 중요한 가치로 여기며, 따라서 어떠한 단체의 지원도 받지 않습니다.") }}
        {{ gettext("저희의 목표와 가치에 공감하신다면 포퐁 프로젝트가 지속될 수 있도록 후원 부탁드립니다.") }}
        {{ gettext("여러분의 후원금은 서버 및 도메인 유지 등 운영에 사용됩니다.") }}
        {% include 'donate.html' %}
      </p>
    </li>
  </ol>
</div>
