<div id="about" class="page container">
  <div class="centerline">
    <h3 class="page-title">1. {{ gettext('공공데이터를 매일 자동으로 수집합니다') }}</h3>
    <center><img src="{{ url_for('static', filename='images/framework.png') }}" style="width: 100%; max-width: 900px"></center>
    <h3 class="page-title">2. {{ gettext('나의 관심정보만 선별해서 보여줍니다') }}</h3>
    <center><img src="{{ url_for('static', filename='images/customization.png') }}" style="width: 100%; max-width: 900px"></center>
    <h3 class="page-title">3. {{ gettext('언제 어디서든 편리하게 정보를 받아볼 수 있게 합니다') }}</h3>
    <center><img src="{{ url_for('static', filename='images/responsive.png') }}" style="width: 100%; max-width: 550px"></center>
  </div>
</div>
