<h2 class="page-title">Press</h2>
<ul>
  <li class="hidden">2014-01-09, 서울공대이야기, <a href="http://be.ipems.com/notice/50407">서울대 산업공학과 박은정 外 연합팀 '팀포퐁' &lt;투모로우솔루션 공모전&gt; 미래창조과학부 장관상 수상</a>.
  <li>2014-01-06, Creative Commons Korea, <a href="http://www.cckorea.org/xe/?document_srl=733241">CC 라이선스 국내사례: 대한민국 정치의 모든 것</a>.
  <li class="hidden">2013-12-27, 투모로우솔루션, <a href="http://tomorrowsolutions.tistory.com/137">투모로우 솔루션, 이제부터 진짜 시작이다!</a>
  <li class="hidden">2013-12-27, 동아일보, <a href="http://news.donga.com/3/all/20131227/59810220/1">의원 입법활동 감시 사이트 개발… 본보 보도 ‘포퐁’팀 미래부 장관상</a>.
  <li class="hidden">2013-12-26, 뉴스타운, <a href="http://www.newstown.co.kr/news/articleView.html?idxno=159286">서울대 산업공학과 연합팀 투모로우솔루션 공모전 미래창조과학부 장관상 수상</a>
  <li>2013-12-23, 삼성반도체이야기, <a href="http://samsungsemiconstory.com/544">내일의 주역 창조인재, 그들의 아이디어는?</a>
  <li class="hidden">2013-12-20, 청년허브, <a href="http://www.youthhub.kr/notices/52b40e73cf9772efb70000bd">팀포퐁, 삼성전자와 미래창조과학부 주관 Tomorrow Solutions 청년부 최고상 수상!</a>.
  <li>2013-12-20, 한국일보, <a href="http://news.hankooki.com/lpage/people/201312/h2013122003380091560.htm">"정치를 더 쉽게 접할 수 있게… 노력 인정받아 기뻐요"</a>
  <li class="hidden">2013-12-18, 연합뉴스, <a href="http://www.yonhapnews.co.kr/economy/2013/12/18/0302000000AKR20131218200000003.HTML">삼성전자-미래부, '투모로우 솔루션' 공모전 시상식</a>
  <li class="hidden">2013-12-18, 중앙일보, <a href="http://money.joins.com/news/article/article.asp?total_id=13432249&ctg=1105">범죄예방 커뮤니티 앱 등 미래창조과학부장관상 수상</a>.
  <li>2013-12-18, 이데일리, <a href="http://www.edaily.co.kr/news/NewsRead.edy?newsid=03293126603039832&SCD=JC51&DCD=A00305">"의미 없어 보이는 일들이 결국 세상 바꿔"</a>.
  <li class="hidden">2013-12-18, 이데일리, <a href="http://www.edaily.co.kr/news/NewsRead.edy?SCD=JC51&newsid=03289846603039832&DCD=A00305">미래부-삼성 아이디어 공모전 ‘문샷’ ‘포퐁’ 등 수상</a>
  <li class="hidden">2013-12-19, 이데일리, <a href="http://www.edaily.co.kr/news/NewsRead.edy?col_cd=Z&DCD=A306&newsid=03309526603040160">[기자수첩]창조경제 '기업이 끌고 정부가 밀고'</a>
  <li class="hidden">2013-12-26, etnews, <a href="http://www.etnews.com/news/economy/education/2891493_1491.html">서울대 박은정 외 연합팀 `팀포퐁` 미래부 장관상 수상</a>.
  <li>2013-11-12, 투모로우솔루션, <a href="http://tomorrowsolutions.tistory.com/117">우리의 우리에 의한 우리를 위한 민주주의를 위해 포퐁에 퐁당~</a>
  <li class="hidden">2013-10-24, 투모로우솔루션, <a href="http://tomorrowsolutions.tistory.com/87">대한민국 정치의 모든 것, 포퐁팀</a>.
  <li>2013-08-12, 동아일보, <a href="http://news.donga.com/3/all/20130812/56966429/1">젊은 그들 '국회의원 입법활동 감시' 인터넷 판 벌였다</a>.
</ul>
