<div id="services" class="page">
  <h2>{{ gettext('SERVICES') }}</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>{{ gettext("포커") }}</h3>
      <div class="appbutton">
        {% if locale=='ko' %}
        <a href="http://pokr.kr" target="_blank">
        {% else %}
        <a href="http://en.pokr.kr" target="_blank">
        {% endif %}
          <img src="{{ url_for('static', filename='images/button-pokr.png') }}">
        </a>
      </div>
      <p>{{ gettext("1대부터 19대까지의 국회의원 후보자와 당선자와 그들이 발의한 의안을 이 곳에서 보세요! 대한민국 정치의 모든 것.") }}</p>
    </div>
    <div class="col-md-4">
      <h3>{{ gettext("나는 서울 시장이다!") }}</h3>
      <div class="appbutton">
        <a href="http://popong.com/iamseoulmayor" target="_blank"><img src="{% if locale=='ko' %}{{ url_for('static', filename='images/button-naseoul.png') }}{% else %}{{ url_for('static', filename='images/button-naseoul-en.png') }}{% endif %}"></a>
      </div>
      <p>{{ gettext("2011년 10.26 서울시장 선거를 위해 개발된 서비스. 박원순 후보와 나경원 후보의 프로필, 공약, 그리고 주요 이슈를 담은 타임라인을 한 눈에 비교하기 쉽게 만들었습니다.") }}</p>
    </div>
    <div class="col-md-4">
      <h3>{{ gettext("애정선거") }}</h3>
      <div class="appbutton">
        <a href="http://popong.com/iamseoulmayor/promotion.html" target="_blank"><img src="{%if locale=='ko' %}{{ url_for('static', filename='images/button-ajelection.png') }}{% else %}{{ url_for('static', filename='images/button-ajelection-en.png') }}{% endif %}"/></a>
      </div>
      <p>{{ gettext("10.26 서울시장 선거 후보들의 공약을 무작위로 보여주며, 나와 가장 잘 맞는 후보를 추천해주는 서비스! 당신의 성향과 가장 가까운 후보는 누구인지 알아보러 갈까요?") }}</p>
    </div>
  </div>
  <h3>{{ gettext('프로토타입') }}</h3>
  <p>{{ gettext('실험작, 프로토타입, 인큐베이팅 프로젝트들.') }}</p>
  <ul id="prototypes">
    <li><a href="http://labs.popong.com/codenamu/" target="_blank">{{ gettext('국회는 지금') }}</a></li>
    <li><a href="http://labs.popong.com/mobile-120411/" target="_blank">Mobile</a></li>
  </ul>
</div>
