{% extends 'layout.html' %}

{% block contents %}
팀 포퐁은 대한민국 <a href="http://likms.assembly.go.kr/bill">국회 의안정보시스템</a>과 <a href="http://info.nec.go.kr/main/showDocument.xhtml?electionId=0000000000&topMenuId=BI&secondMenuId=BIGI">중앙선거관리위원회 선거통계시스템의 역대선거정보</a>에서 제공하는 원본 데이터를 기계적으로 처리하여 제공합니다. 자세한 내용은 <a href="http://developers.popong.com">개발자 문서</a>를 참고해주세요.

<h2>Official government sources:</h2>
<ul>
    <li>국회 의안정보시스템: 국회 회의록 및 의안 원문</li>
    <li>중앙선거관리위원회 선거통계시스템: 국회 의원 선거 후보자/당선인 데이터</li>
    <li><a href="http://w3.assembly.go.kr/" alt="vod service for conferences">영상회의록시스템</a>: 본회의, 예결위, 상임위, 특별위 등 회의의 요약 정보
</ul>

{% endblock %}
