<div id="talks">
  <h2 class="page-title">Talks</h2>
  <ul>
    
    <li>2015-10-02: <i>(Title to be announced)</i>, 2015 Congress Reform and Watch International Conference, Taipei, Taiwan.
      <span class="thanksto">We thank <a href="http://ccw.org.tw/">CCW</a> for the travel support.</span>
    <li>2015-02-05: <a href="http://www.lucypark.kr/slides/2015-lodac/">린 정부와 대한민국 정치의 모든 것</a>, Linked Open Data Annual Conference, Seoul, Korea.
    <li>2014-11-09: <a href="http://www.lucypark.kr/slides/2014-g0v/"> How We Open the National Assembly in South Korea with Technology</a>, g0v Summit, Taipei, Taiwan.
      <span class="thanksto">We thank <a href="http://g0v.tw">g0v</a> for the travel support.</span>
    <li>2014-05-07: <a href="http://slides.com/e9t/2014-ogp">Different roles in diffusing legislative data</a>, OGP Asia Pacific Regional Conference, Bali, Indonesia.
      <span class="thanksto">We thank <a href="http://ndi.org/">NDI</a> for the travel support.</span>
    <li>2014-02-11: <a href="http://slides.com/e9t/popong/">Introduction to Politics in South Korea & Team POPONG</a>, Sunlight Foundation Brown Bag Lunch, Washington D.C., USA.
      <span class="thanksto">We thank <a href="http://sunlightfoundation.com">Sunlight Foundation</a> for the travel support.</span>
    <li>2013-11: <a href="http://slides.com/e9t/2013-kswc">대한민국 정치의 모든 것: 쉽고 재밌는 일상 속 정치 만들기</a>, Korea Semantic Web Conference, Seoul, Korea.
  </ul>
</div>
